{{#partial "content"}}

   <h1> Technology Department Sections!</h1>

   {{#if tasks}}
       {{#each tasks }}
           <p><a href="/categories/{{categoryId}}/tasks/{{id}}">{{description}}</a></p>
       {{/each}}
   {{else}}
       <p>No Section!</p>
   {{/if}}
{{/partial}}

{{> layout.hbs}}
