<!DOCTYPE html>
<html>
<head>
   <title>{{#block "title"}}Departments{{/block}}</title>
   <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
   <li role="presentation" class="active"><a href="/">Home</a></li>
   <li role="presentation"><a href="/tasks/new">Add a New Section</a></li>
    <li role="presentation"><a href="/tasks/new">Add a New Staff</a></li>

   <li role="presentation" class="dropdown">
       <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
           Department Menu <span class="caret"></span>
       </a>
       <ul class="dropdown-menu">
           {{#if categories}}
               {{#each categories}}
                   <li><a href="/categories/{{id}}">{{name}}</a></li>
               {{/each}}
               <li><a href="/categories/new">Add a Department</a></li>

           {{else}}
               <li><a href="/categories/new">Add a Department</a></li>
           {{/if}}
       </ul>
   </li>
</ul>
<div class="container">
   <!--begin main template-->
   <div class="page-header">
       <img src="/images/flower.jpg" width="70%" alt="Photo of a Flower Farmer">
       <h1>Welcome to Safaricom. <small>The Home of Technology.</small></h1>
   </div>

   <div class="col-md-12">
       {{#block "content"}}
       {{/block}}

   </div>
</div>
<!--end main template-->
{{#block "footer"}}
   <footer class="footer">
       <div class="container">
           <hr>
           <p class="text-muted">
              <a href="/categories/delete">Delete all Departments & Sections</a><br>
              <a href="/tasks/delete">Delete all Sections</a>
           </p>
       </div>
   </footer>
   </body>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   </html>
{{/block}}
